<div data-role="page">

  <div data-role="header" data-position="inline">
   
<a href="<%=url_for(:controller=>:Settings,:action=>:map_settings)%>"  id="GoBack" rel="external" data-icon="back">Back</a>
  
  <h1>Credits</h1>
   
  </div>

  <div data-role="content">
    <h3>Credits</h3>
    <div style="margin: 10px;">Special Thanks to those projects</div>
    
    
    
    1) OSM <br>
    
    OpenStreetMap Contributors <br>
    www.openstreetmap.org<br><br>
  
    
    2) LeafletJS<br><br>
    
    http://leaflet.cloundmade.com<br><br>
    
    
2) Some Pin Icons<br><br>
   
   http://graphicfuel.com<br><br>
   
    
  3)Main Background Photo is taken from Flickr.com<br><br>
  
 We have used only images which license leave us to use it commercially(Creative Common License).  <br><br>
    

</div>
</div>