<div data-role="page" data-theme="b">

  <div data-role="header" data-position="inline" data-theme="b">
    <h1>Reset</h1>
 </div>

  <div data-role="content">
    <h3>Reset/Install<h3>
    
 
 
 
 
 
 
 


<div id="poi_update">
 Unpacking the POI database
    Please wait...<br>
    <div class="meter orange nostrips" id="progressBar">
      <span style="width: 1%"></span>
    </div>
    <ul id="home" selected="true" title="Wait">
       
       
    </ul>

</div>

 
 
  </div>

  
  
  
  

  
  
  
  
  
  
  
  
  
  
</div>
