<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Update Maps</h1>
   
  </div>

  <div data-role="content">
    <h3>Update Maps</h3>
    <div style="margin: 10px;">Please click on button below to see if there is update for Map</div>
    
    
<a href="#" data-role="button" class="ui-btn-right" data-icon="check" data-direction="reverse" onclick="check_map_updates();return false;">Check for Updates</a>
    
    
    
    <br>
    
    <div id="errorDiv" style="display:none;">Server is not available at this moment. Are you online?</div>
    
    
    <ul data-role="listview" id="versioning" style="display:none">
    <li data-role="heading"> POI's database version on device </li>
    <li id="map_version"><%=@map_version.global_value %></li>
  <li data-role="heading">Actual POI's database version </li>
     <li id="map_version_server"> </li>
  <li id="status"> </li>
  
    </ul>
    
  <p id="update_button" style="display:none;"><a id="update_map_url" href="<%=url_for(:controller=>:Mapupdate,:action=>:index)%>" data-role="button" data-theme="b"> Update Now!</a> </p>
  </div>

</div>
