<div data-role="page">

  <div data-role="header" data-position="inline">
   
<a href="<%=url_for(:controller=>:Settings,:action=>:map_settings)%>"  id="GoBack" rel="external" data-icon="back">Back</a>
  
  <h1>Update POIs</h1>
   
  </div>

  <div data-role="content">
    <h3>Update Pois</h3>
    <div style="margin: 10px;">Please click on button below to see if there is update for POI database</div>
    
    
<a href="#" data-role="button" class="ui-btn-right" data-icon="check" data-direction="reverse" onclick="check_poi_updates();return false;">Check for Updates</a>
    
    
    
    <br>
    
    <div id="errorDiv" style="display:none;">Server is not available at this moment. Are you online?</div>
    
    
    <ul data-role="listview" id="versioning" style="display:none">
    <li data-role="heading"> POI's database version on device </li>
    <li id="pois_version"><%=@poi_version.global_value%> </li>
  <li data-role="heading">Actual POI's database version </li>
     <li id="pois_version_server"> </li>
  <li id="status"> </li>
  
    </ul>
    
  <p id="update_button" style="display:none;"><a href="<%=url_for(:controller=>:Poiupdate,:action=>:index)%>" data-role="button" data-theme="b"> Update Now!</a> </p>
  </div>

</div>
